#login{
    background-color: rgb(46, 119, 179);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        display: flex;
        background-color: beige;
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;

        .left{
            flex: 1;
            background: linear-gradient(rgba(41, 88, 126, 0.411),rgba(46, 119, 179, 0.274)) ,url("https://media.istockphoto.com/id/1433175189/photo/multi-cultural-guys-and-girls-taking-best-selfie-outside-on-travel-vacation-happy-life-style.jpg?s=612x612&w=0&k=20&c=d6fFOMfEmWQZOaytpS5cK0xPCcCrrWr5V_IIf-bPXKU=") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            color: white;
            gap: 30px;

            h1{
                font-size: 70px;
                line-height: 70px;
            }
            p{

            }
            span{
                font-size: 20px;
            }
            button{
                width: 50%;
                padding: 10px;
                display: flex;
                justify-content: center;
                border: none;
                background-color: white;
                color: rgb(88, 88, 209);
                font-weight: bold;
                cursor:pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            
            h1{
            color: rgb(115, 79, 197);
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border:none;
                    border-bottom: 1px solid lightgray;
                    padding:20px 10px;
                }
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: rgb(115, 79, 197);
                color: white;
                font-weight: bold;
                cursor:pointer;
            }
        }
    }
}